body {
    font-family: Calibri, sans-serif;
    background-color: skyblue;
    color: darkblue;
}

h1 {
    font-family: Verdana, sans-serif;
}

input[type=submit] {
    padding: 25px;
    background-color: darkblue;
    color: skyblue;
    font-size: 2em;
}

.formulario-seccion {
    margin-bottom: 15px; /* Añade espacio debajo de cada campo */
}
